
@{
    ViewBag.Title = "About our company";
}

<h1>AboutUs</h1>
<p>Passion IT Solutions in one of the best software firm in the world.</p>
<a asp-action="Index" class="btn btn-success">Back to Home</a>