
@{
    ViewData["Title"] = "AboutUs";
}

<h1 class="text-success">About Us</h1>
<p>This is the best laptop store in the world. Let's buy from here.</p>
<br />
<a asp-action="Index" class="btn btn-outline-success">Back to Home</a>

