@{
    ViewData["Title"] = "Home Page";
}

<div class="list-group">
    <a asp-controller="Laptop" asp-action="Details" asp-route-id=4 class="btn btn-success text-white">Laptop of the month</a>
    <br />
    <a asp-controller="Laptop" asp-action="Index" class="btn btn-success text-white">List of the laptops</a>
    <br />
    <a asp-controller="Home" asp-action="AboutUs" class="btn btn-success text-white">About Us</a>
</div>
