
@{
    ViewBag.Title = "Contact Us Now";
}

<h1 class=" text text-primary">Contact</h1>
<p>To contact us mail at <a href="https://youtube.com">Contact Us</a></p>
<br />
<a asp-action="Index" class="btn btn-outline-success">Back to landing page</a>
