@model Sharee
@{
    ViewData["Title"] = "Details";
}

<h1 class="btn btn-success">Details</h1>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Category</td>
        </tr>
    </tbody>
</table>
<a asp-controller="Sharee" asp-action="Index" class="btn btn-outline-success">Back to Home</a>


