
@{
    ViewData["Title"] = "ContactUs";
}

<h1>ContactUs</h1>
<h3>You can contact us in the email <i>diptod111@gmail.com</i></h3>

<a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary">Home</a>